<template>
    <div>
        <div v-if="comments != 0" class="w-50 my-3">
            <h3 @click="showComments = !showComments" class="comments"> <span v-if="showComments">Hide</span> <span v-else>Show</span> Comments ({{comments.length}}) ...</h3>
                <div v-if="showComments" v-for="comment in comments" class="border p-3 my-1">
                    <h5>{{comment.user.name}}</h5>
                    <span>{{comment.created_at.slice(0,19)}} </span>
                    <p class="font-weight-bold">{{comment.text}}</p>
                </div>
        </div>
        <h5  v-else class="my-3">No comments</h5>
        <div v-if="user_id != 0">
            <h4>Leave comments about this product</h4>
            <form action="">
                <textarea name="text" id="text" cols="50" rows="5" v-model="text"></textarea><br>
                <button class="btn btn-outline-primary" @click.prevent="createComment()">send</button>
            </form>
        </div>
        <h5 v-else><a href="/login">Leave comments...</a></h5>
    </div>
</template>

<script>
    export default {
        name: "CommentsComponent",
        props: ['product_id', 'user_id'],
        data(){
            return {
                comments: [],
                text: '',
                showComments: false
            }
        },
        created() {
            this.getComments();
        },
        methods: {
          getComments()
          {
              axios.get('/api/comments/'+this.product_id)
              .then((response)=>{
                  this.comments = response.data;
              })
          },
            createComment()
            {
                axios.post('/api/comments', {text: this.text, user_id: this.user_id, product_id:this.product_id})
                .then((response)=>{
                    console.log(response.data);
                    this.comments.push(response.data.comment);
                })
            }
        },
    }
</script>

<style scoped>
.comments{
    cursor: pointer;
}
    .comments:hover{
        text-decoration: underline;
    }
</style>
