<template>
    <div>
        <button @click="create = !create" class=" my-3 btn btn-outline-primary">add category</button>
    <div v-if="create" class="p-4 border rounded">
        <form @submit.prevent="createCategory" >
            <label for="name">name</label>
            <input type="text" name="name" id="name" class="form-control my-2" v-model="name">
            <label for="description">description</label>
            <textarea name="description" id="description" cols="30" rows="10" class="form-control" v-model="description"></textarea>
            <input type="file"
                   @change="onFileChange"
                   class="form-control-file">
            <button type="submit" class="my-2 btn btn-outline-primary">create</button>
        </form>
    </div>
    </div>
</template>
<script>
    export default {
        name: "CreateCategoryComponent",
        data() {
            return {
                create: false,
                name : '',
                description: '',
                image: '',
                imageName: ''
            }
        },
         methods:{
            createCategory(){
                axios.post('/categories', {
                    name : this.name,
                    description: this.description,
                    imageName: this.imageName
                }).then((response)=>{
                    this.name = '';
                    this.description = '';
                    const config = {
                        headers: { 'content-type': 'multipart/form-data' }
                    }
                    let formData = new FormData();
                    formData.append('image', this.image);
                    formData.append('imageName', this.imageName);
                    axios.post('/uploadImageForProduct', formData, config )
                        .then((response)=>{
                            console.log(response);
                        })
                    Bus.$emit('getCategories');
                })
            },
             onFileChange(e) {
                 this.image =  e.target.files[0] || e.dataTransfer.files;
                 let number = Math.random() // 0.9394456857981651
                 number.toString(36); // '0.xtis06h6'
                 let id = number.toString(36).substr(2, 9); // 'xtis06h6'
                 this.imageName = id+'_'+this.image.name;
             },
        }
    }
</script>

<style scoped>

</style>
