<template>
    <div class="p-4 text-light row justify-content-around">
        <div class="col-4">
    <h3>Categories</h3>
        <ul class="list-unstyled">
            <li v-for="category in categories">{{category.name}}</li>
        </ul>
    </div>
        <div class="col-4">
            <h3>About us...</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias culpa esse explicabo iste labore modi nemo neque non optio, placeat, quaerat quos rem sequi. Facere, vel, voluptatem. Distinctio enim, iusto!</p>
        </div>
        <div>
            <h3>Search...</h3>
            <form action="/search">
                <div class="form-inline">
                    <input type="text" name="query" id="query" class="form-control">
                    <button type="submit" class="mx-2 btn btn-outline-info btn-sm rounded-circle"><i class="fa fa-search"></i></button>
                </div>

            </form>
        </div>
    </div>
</template>

<script>
    export default {
        name: "FooterComponent",
        data(){
            return{
                categories: []
            }
        },
        created() {
            axios.get('/getCategories')
            .then((response)=>{
                console.log(response.data);
                this.categories = response.data;
            })
        }
    }

</script>

<style scoped>

</style>
