<template>
    <div>
    <h2>Incoming Orders</h2>
        <table class="table table-light">
            <thead>
            <tr>

                <th>name</th>
                <th>address</th>
                <th>email</th>
                <th>date</th>
                <th>full price</th>

            </tr>
            </thead>
            <tbody v-for="order in orders">
                <incoming-order-component :order="order" :user_id="user_id" />
            </tbody>
        </table>

        <pagination-component :query="query"
                              :last_page="pagination.last_page"
                              :current_page="pagination.current_page"
                                :offset="6"
                />
    </div>
</template>
<script>
    import IncomingOrderComponent from './IncomingOrderComponent';
    import {mapState} from 'vuex';
    export default {
        name: "IncomingOrdersComponent",
        components: {
            IncomingOrderComponent
        },
        props:{
          user_id: 0
        },
        data(){
            return{
                query: '/getIncomingOrders?page='
            }
        },
        created() {
            Bus.$on('getIncomingOrders', this.getOrders);
            this.getOrders();

            },
        destroyed() {
          Bus.$off('getIncomingOrders')  ;
        },
        computed: {
          ...mapState({
              orders: 'incomingOrders'
          }),
            ...mapState({
                pagination: "pagination"
            })
        },
        methods:{
            getOrders(page){
                return this.$store.dispatch('getIncomingOrders', page);
            }
        }
    }
</script>

<style scoped>

</style>
