<template>
    <div class="container-fluid">
            <h2 class="text-center">Home Page</h2>
        <div class="row">
        <div class="cats col-3 p-4 text-center text-capitalize border rounded" >
<h4 class="cats w-100 p-2 border-bottom border-dark" @click="get_products()"  >All</h4>
            <h4 class="w-100 p-2 border-bottom border-dark" v-for="(category, i) in categories" @click="category_filter = category.id, get_products()">{{category.name.slice(0, 10)}}</h4>
        </div>
            <div class="col">
                <form action="/search" class="m-2 w-100">
                <div class="form-inline">
                    <input type="text" name="query" id="query" :model="search" class="form-control w-75">
                    <button type="submit" class="mx-2 btn btn-outline-info rounded-circle"><i class="fa fa-search"></i></button>
                </div>

            </form>
        <div class="row" v-if="products.length > 0">
            <div class="col-3 m-2 p-4 border rounded" v-for="product in products" v-bind:key="product.id">
                <product-component :product="product"/>
            </div>
        </div>


        <div class="row" v-else>
            Loading...
        </div>
     <pagination-component :query="query"
         :offset="6" :last_page="pagination.last_page" :current_page="pagination.current_page"></pagination-component>
                <h2 class="text-center">Best Sellers</h2>
                <div class="w-100 row justify-content-around">
                        <div class="col-3 m-1 border rounded p-3" v-if="i < 6" v-for="(product, i) in bestSellers.products">
                            <img :src="'/storage/'+product.product.image" alt="" width="" height="100" class="w-100">
                            <h4><a :href="'/productShow/'+product.product.id">{{product.product.name}}</a></h4>
                            <span class="text-success font-weight-bold">Price: {{product.product.price}} $</span>
                            <br><span class="badge badge-info mx-1" v-for="category in product.product.categories">
                    {{category.product.name}}
                </span>
                            <br> <div id="addBasket"><add-product v-if="product.product.count > 0"
                                                                  :product="product.product"
                        />
                            <h5 v-else>product not allowed</h5></div>
                            <div id="basket_details"></div>
                        </div>
                </div>
    </div>
        </div>
    </div>
</template>
 <script>
    import PaginationComponent from "./PaginationComponent";
    import ProductComponent from "./ProductComponent";
    import {mapState} from "vuex";
     export default {
        name: "ProductsComponent",
        components: {ProductComponent, PaginationComponent},
        data: function() {
            return {
                errors: null,
                query : '/api/prod?page=',
                category_filter: 0,
                hover : false,
                search: '',
                bestSellers : []
            }
        },
        created() {
            Bus.$on('getProducts', this.get_products);
            this.get_categories();
            this.get_products();
            this.getBestSellers();
            },
        mounted(){

        },
        destroyed() {
            Bus.$off('getProducts');
        },
        computed: {
            ...mapState({
                products: 'products'
            }),
            ...mapState({
                categories: 'categories'
            }),
            ...mapState({
                pagination: 'pagination'
            })

        },
        methods: {
            filtered_products()
            {
                return this.$store.dispatch('getCategoryProduct', this.category_filter);
            },
            get_products(page, category) {
                console.log(category)
                let data = []
                data['page'] = page ? page : null
                data['category'] = this.category_filter ? this.category_filter : null
                this.$store.dispatch('getAllProducts', data);
            },
            get_categories(){
                this.$store.dispatch('getAllCategories');
            },
            getBestSellers()
            {
                axios.get('/getTopTrendingProducts')
                    .then((response)=>{
                        this.bestSellers = response.data;
                    })
            }
        }
    }
</script>

<style scoped>
    .cats :hover{
        background: rgba(128, 128, 128, 0.8);
    }
</style>
